@font-face {
    font-family: prissy;
    src: url(../Daycare/Assets/littlemisspriss-font/Littlemisspriss-LPlW.ttf)
}

@font-face {
    font-family: crayon;
    src: url(../Daycare/Assets/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf)
}


body {
background-color: lightskyblue;  
}

nav {
    background-color: white;
    align-self: center;
    
}

.navbar-light .navbar-brand {
    color: deeppink;
    background-color: white;
    font-family: prissy;
    font-size: xxx-large;
    font-weight: bold;
}

#homeButton{
    color: deeppink;
    background-color: white;
    font-family: crayon;
    font-size: x-large;
}

#aboutButton{
    color: deeppink;
    background-color: white;
    font-family: crayon;
    font-size: x-large;
}

#contactButton{
    color: deeppink;
    background-color: white;
    font-family: crayon;
    font-size: x-large;
}

#pricingButton{
    color: deeppink;
    background-color: white;
    font-family: crayon;
    font-size: x-large;
}

#homeContainer{
    text-align: center;
}
img {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 100%;
    height: auto;

}

h1 {
    color: deeppink;
    font-family: crayon;
    text-align: center;

}

p {
    color: deeppink;
    font-family: crayon;
    text-align: center;
    font-size: large ;
}

#mapsContainer{
    text-align: center;
    max-width: 100%;
    height: auto;
}

/* iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#shayla {
    border-radius: 50%;
    /* align-content: left; */
}

h5 {
    text-align: center;
}

#bree {
    border-radius: 50%;
}

@media only screen and (max-width: 360px) {
    #full-text {display: inline;
        font-size: x-large;
    }
    #homeButton{font-size: medium;}
    #aboutButton{font-size: medium;}
    #contactButton{font-size: medium;}
    #pricingButton{font-size: medium;}
    #short-text {display: none;}
    p {font-size: medium};
}

@media only screen and (min-width: 361px) and (max-width: 490px) {
    #full-text {display: inline;
        color:deeppink;
        font-size: xx-large;}
    #short-text {display: none;}
    }

@media only screen and (min-width: 491px) {
    .full-text {display: inline;}
    .short-text {display: none;}
    }

